<tr>
  <td><%=persona.cedula%></td>
  <td><%=persona.nombre%></td>
  <td><%=persona.apellido%></td>
  <td><%=persona.direccion%></td>
  <td><%=persona.correo%></td>
  <td><%=persona.celular%></td>
</tr>
