
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">J.M</h1>
            <br>
        </div>
        <p class="notice text-info"><%= notice %></p>
        <p class="alert text-danger"><%= alert %></p>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>
            </div>
            <div class="form-group">
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control"%>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label "Recordarme" %>
              </div>
            <% end %>
            <%= f.submit "Ingresar", class: "btn btn-primary block full-width m-b text-primary" %>

            <%= render "devise/shared/links" %>
        <% end %>
    </div>
</div>
