<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cedula</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Direccion</th>
      <th scope="col">Correo</th>
      <th scope="col">Celular</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>
    <% @personas.each do |persona|%>
        <tr>
          <th scope="row"><%=persona.id%></th>
          <td><%=persona.cedula%></td>
          <td><%=persona.nombre%></td>
          <td><%=persona.apellido%></td>
          <td><%=persona.direccion%></td>
          <td><%=persona.correo%></td>
          <td><%=persona.celular%></td>
          <td><%=link_to edit_persona_path(persona) do %><center><i class="fa fa-edit fa-2x""></center></i><%end%></td>
        </tr>
    <%end%>
  </tbody>
</table>
