<div class="col-md-6">
  <div class="ibox-title">
    <h5>Amigo: <%= @persona.nombre %></h5>
  </div>
  <div class="ibox-title">
      <h4 class="text"> CEDULA </h4>
      <%= @persona.cedula %>
      <h4 class="infor"> NOMBRE </h4>
       <%= @persona.nombre %>
      <h4 class="text">APELLIDO </h4>
      <%= @persona.apellido %>
      <h4 class="text">CELULAR </h4>
      <%= @persona.celular %>
      <h4 class="text">DIRECCION </h4>
      <%= @persona.direccion %>
      <h4 class="text">CORREO</h4>
       <%= @persona.correo %>
  </div>
</div>
