<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold"><strong>Lider:</strong> <%=current_user.nombre%></span>
                        <span class="text-muted text-xs block"><%=current_user.cedula%><b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><%= link_to "Salir", destroy_user_session_path, class: "dropdown-item", method: :delete %></li>
                    </ul>
                </div>
                <div class="logo-element">
                    J.M
                </div>
            </li>
            <!-- Condicional para administrador -->
            <% if current_user.has_role? :admin%>
                <li class="<%= 'active' if current_page?('/users') %>">
                    <%= link_to "/users" do %>
                    <i class="fa fa-user-plus"></i><span class="nav-label">Amigos Sercanos</span>
                    <% end %>
                </li>
            <%else%>
                <li class="<%= 'active' if current_page?('/personas/new') %>">
                    <%= link_to "/personas/new" do %>
                    <i class="fa fa-user-plus"></i><span class="nav-label">Ingresar amigo</span>
                    <% end %>
                </li>
                <li class="<%= 'active' if current_page?('/personas') %>">
                    <%= link_to "/personas" do %>
                    <i class="fa fa-users"></i><span class="nav-label">Amigos</span>
                    <% end %>
                </li>
            <% end%>
        </ul>
    </div>
</nav>
